/* form{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center; 
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  form {
    background-color: #d3d3d3;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], textarea {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button[type="button"] {
    background-color: #f44336;
  }
  
  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #3e8e41;
  }
.table1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
  }
  
  thead {
    background-color: #d3d3d3;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  td button.edit {
    background-color: #2196F3;
  }
  
  td button.delete {
    background-color: #f44336;
  }
  #adds{
    display: none;
  }